# Capstone 3: Pre-Processing

This section will standardize columns, create dumy variables and split the data into train and test sets.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
from time import strptime

In [4]:
exports = pd.read_excel('../data/EDA_exports.xlsx')
yearly_shipments = pd.read_excel('../data/EDA_yearly_shipments.xlsx')

In [5]:
exports.head()

,Year,Value,Country,HS Code Number,HS Code Description
0,2010,2575,Comoros,8411917050,"PARTS OF TURBOJET & TURBOPROPELLR A/C ENG,EX C..."
1,2010,2629,Belize,8411917050,"PARTS OF TURBOJET & TURBOPROPELLR A/C ENG,EX C..."
2,2010,3286,Belarus,8411997050,"PARTS OF GAS TURBINE A/C ENG, EXC CIVIL A/C"
3,2010,3348,Jamaica,8411997050,"PARTS OF GAS TURBINE A/C ENG, EXC CIVIL A/C"
4,2010,3500,Guatemala,8411997050,"PARTS OF GAS TURBINE A/C ENG, EXC CIVIL A/C"

In [6]:
yearly_shipments.head()

  Year-Month  Export Value (millions of dollars)
0 1992-01-01                                2719
1 1992-02-01                                3496
2 1992-03-01                                3018
3 1992-04-01                                3433
4 1992-05-01                                2916

In [10]:
#seeing how many countries are included in this dataset
exports.Country.nunique()

174